@import '../../../styles/mixin';

.imageSection {
  margin-top: 2rem;
  position: relative;
  height: 640px;
  @include flex(column, center, center);
  .imageContainer {
    box-shadow: $shadow;
    height: 600px;
    width: 600px;
    border-radius: 8px;
    z-index: 3;
    cursor: pointer;
    transition: filter 0.8s cubic-bezier(0.215, 0.61, 0.355, 1),
      transform 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
    &:hover {
      transform: scale(0.97);
      filter: brightness(1.05) saturate(1.05);
    }

    .image {
      object-fit: cover;
      border-radius: 8px;
      opacity: 1;
    }
  }

  .blurredImageContainer {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);

    .blurredImage {
      filter: blur(8px) saturate(0.8);
      opacity: 0.8;
      transform: scale(6) translateY(40%);
    }
    .gradient {
      width: 100%;
      height: 5rem;
      z-index: 2;
      background-color: $dark;
      position: absolute;
    }
    .gradientTop {
      top: 0;
    }
    .gradientBottom {
      bottom: 0;
    }
  }
}

.saved {
  position: absolute;
  bottom: -40px;
  z-index: 99;
  span {
    font-size: 3rem;
    color: $primary;
    cursor: pointer;
    transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1),
      color 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    &:hover {
      color: $primary-alt;
    }
  }
}
