@import '../../styles/mixin';

.footer {
  width: 100vw;
  height: 8rem;
  @include flex(row, center, center);
  @include phoneLarge {
    height: 4rem;
  }
}

.gridContainer {
  display: grid;
  width: 1024px;
  grid-template-columns: repeat(2, 1fr);
  @include iPadLandscape {
    width: 950px;
  }
  @include iPadPortrait {
    width: 720px;
  }
  @include phoneLarge {
    width: 380px;
  }
  @include phoneMedium {
    width: 330px;
  }
}

.grid {
  width: 100%;
  height: 5rem;
  @include flex(row, center, left);
  @include phoneLarge {
    height: 4rem;
  }
}

.spotify {
  margin-right: 0.5rem;
  font-size: 2rem;
  color: $spotify-green;
  @include iPadPortrait {
    font-size: 1rem;
  }
  @include phoneLarge {
    font-size: 1rem;
  }
}

.message {
  margin-right: 0.5rem;
  @include iPadPortrait {
    font-size: 0.75rem;
  }
  @include phoneLarge {
    font-size: 0.5rem;
  }
  a {
    transition: color 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    &:hover {
      color: $spotify-green;
    }
  }
}

.icon {
  margin-left: 1rem;
  font-size: 2rem;
  color: $grey;
  @include iPadPortrait {
    font-size: 1rem;
  }
}

.gridRight {
  @include flex(row, center, right);
}

.createdBy {
  color: $grey;
  @include phoneLarge {
    font-size: 0.4rem;
  }
}
