@import '../../styles/mixin';

.footer {
  width: 100vw;
  height: 8rem;
  @include flex(row, center, center);
}

.gridContainer {
  display: grid;
  width: 1024px;
  grid-template-columns: repeat(2, 1fr);
}

.grid {
  width: 100%;
  height: 5rem;
  @include flex(row, center, left);
}

.spotify {
  margin-right: 0.5rem;
  font-size: 2rem;
  color: $spotify-green;
}

.message {
  margin-right: 0.5rem;
  a {
    transition: color 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    &:hover {
      color: $spotify-green;
    }
  }
}

.icon {
  margin-left: 1rem;
  font-size: 2rem;
  color: $grey;
}

.gridRight {
  @include flex(row, center, right);
}

.createdBy {
  color: $grey;
}
