@import '../../../styles/mixin';

.heading {
  @include flex(row, center, left);
}

.avatar {
  @include flex(column, center, center);
  margin-right: 1rem;
  border-radius: 100%;
  border: 4px solid $primary;
  cursor: pointer;
  overflow: hidden;
  transition: box-shadow 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  box-shadow: $shadow, 0px 0px 10px $primary;

  img {
    border-radius: 100%;
    opacity: 0.7;
    filter: saturate(0);
    transition: opacity 0.5s ease,
      transform 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
    &:hover {
      opacity: 1;
      transform: scale(1.1);
    }
  }
}

.buttonPlaying {
  transition: box-shadow 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  box-shadow: 0px 0px 10px $primary;
  animation-name: playing;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

@keyframes playing {
  0% {
    box-shadow: 0px 0px 2px $primary;
  }
  50% {
    box-shadow: 0px 0px 15px $primary;
  }
  100% {
    box-shadow: 0px 0px 2px $primary;
  }
}

.artistName {
  margin-bottom: 1rem;
  font-size: 2rem;
  color: $grey;
}

.albumTitle {
  @include headerFont(4rem);
  font-weight: 900;
  @include iPadPortrait {
    @include headerFont(3rem);
  }
}
