@import '../../../../styles/mixin';

.albumInfo {
  height: 4rem;
  position: relative;
  margin-top: 0.5rem;
  @include phoneLarge {
    height: 2rem;
  }
}

.albumName {
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: -0.5px;
  color: $primary;
  @include iPadPortrait {
    font-size: 1rem;
  }
  @include phoneLarge {
    font-size: 0.5rem;
  }
}

.albumArtist {
  font-weight: 100;
  font-size: 1.125rem;
  letter-spacing: 0px;
  color: $grey;
  margin-top: 0.5rem;
  @include iPadPortrait {
    font-size: 0.75rem;
  }
  @include phoneLarge {
    font-size: 0.6rem;
    margin-top: 0.25rem;
  }
}
