@import '../../styles/mixin';

.nav {
  width: 100vw;
  height: 8rem;
  @include flex(row, center, center);
}

.container {
  width: 1024px;
  height: 5rem;
  @include flex(row, center, space-between);
}

.innerContainer {
  .logo {
    @include headerFont(3rem);
    font-weight: 900;
    color: $primary;
  }
  ul {
    height: 100%;
    width: 100%;
    @include flex(row, left, right);
    li {
      font-weight: 900;
      transition: color 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
      cursor: pointer;
      margin: 0.07rem 0rem;
      margin-left: 0.5rem;
      text-align: right;
      &:hover {
        color: $primary;
      }
    }
  }
}

.links {
  width: 50%;
}
