@import '../../styles/mixin';

.nav {
  width: 100vw;
  height: 8rem;
  @include flex(row, center, center);
}

.container {
  width: 1024px;
  height: 5rem;
  @include flex(row, center, space-between);
}

.innerContainer {
  .logo {
    @include headerFont(3rem);
    font-weight: 900;
    color: $primary;
    text-shadow: 0px 0px 5px $primary;
  }
  ul {
    height: 100%;
    width: 100%;
    @include flex(row, left, right);
    li {
      @include flex(row, center, center);
      font-weight: 900;
      transition: color 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
      cursor: pointer;
      margin: 0.07rem 0rem;
      margin-left: 0.5rem;
      text-align: right;
      &:hover {
        color: $grey;
      }
    }
    .userLogin {
      @include flex(row, right, center);
      color: $spotify-green;
      font-size: 1rem;
      transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
      &:hover {
        color: $grey;
      }
      span {
        @include flex(row, center, center);
        margin-right: 0.25rem;
      }
    }
    .userName {
      @include flex(row, right, center);
      color: $warning;
      text-transform: capitalize;
      &:hover {
        color: $grey;
      }

      span {
        margin-right: 0.25rem;
        font-size: 1.5rem;
        @include flex(row, center, center);
      }
    }
  }
}

.links {
  width: 50%;
}
