@import '../../../styles/mixin';

.trackContainer {
  margin-bottom: 0.75rem;
}

.trackPlayer {
  margin-top: 0.5rem;
}

.track {
  @include flex(row, center, left);
  .play {
    @include flex(row, center, center);
    font-size: 2rem;
    margin-right: 0.5rem;
    color: $grey;
    cursor: pointer;
    transition: color 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    border-radius: 50%;
    &:hover {
      color: $primary-alt;
    }
  }
  p {
    font-size: 1.25rem;
    margin-top: 0.125rem;
  }
  span {
    font-size: 1rem;
  }
}

.copyright {
  font-size: 0.8rem;
  margin-top: 1rem;
}

.trackList {
  margin-bottom: 2rem;
  font-size: 2rem;
}

.ms {
  margin-left: 0.25rem;
}

.meta {
  color: $grey;
  @include flex(row, center, left);
  p {
    margin-right: 0.5rem;
    cursor: pointer;
    transition: color 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    &:hover {
      color: $primary;
    }
  }
}

.player {
  margin-left: 2.5rem;
  p {
    color: $warning;
    text-transform: uppercase;
  }
}

.playerLink {
  margin-top: 0.5rem;
  margin-left: 2.5rem;
  margin-bottom: 1rem;
  font-weight: 900;
  span {
    transition: color 0.2s ease;
    cursor: pointer;
    color: $spotify-green;

    &:hover {
      color: $primary;
    }
  }
}

.smSpotify {
  margin-left: 0.25rem;
}

.featureContainer {
  @include flex(column, left, space-between);
  width: 100px;
  height: 35px;
  margin-right: 0.25rem;
  overflow: hidden;
  .danceBar {
    height: 20%;
    border-radius: 12px;
    background: linear-gradient(
      90deg,
      hsla(152, 100%, 50%, 1) 0%,
      hsla(186, 100%, 69%, 1) 100%
    );
  }
  .energyBar {
    height: 20%;
    border-radius: 12px;
    background: linear-gradient(
      90deg,
      hsla(333, 100%, 53%, 1) 0%,
      hsla(33, 94%, 57%, 1) 100%
    );
  }
  .acousticBar {
    height: 20%;
    border-radius: 12px;
    background: linear-gradient(
      90deg,
      hsla(197, 100%, 63%, 1) 0%,
      hsla(294, 100%, 55%, 1) 100%
    );
  }
}
