@import '../../../styles/mixin';

.trackContainer {
  margin-bottom: 0.75rem;
  .circlePlaying {
    animation-name: playing;
    animation-duration: 2.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  .numberCircle {
    position: relative;
    width: 2rem;
    overflow: hidden;
    height: 2rem;
    border: 1px solid $light;
    margin-right: 0.5rem;
    border-radius: 50%;
    box-shadow: 0px 0px 0px $light;
    @include phoneLarge {
      height: 1.25rem;
      width: 1.25rem;
    }
    .number {
      color: $light;
      font-size: 0.75rem;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      @include phoneLarge {
        font-size: 0.6rem;
      }
    }
  }

  .playButton {
    margin-right: 0.5rem;
    svg {
      font-size: 2.1rem;
      color: white;
    }
  }
  .playButtonPlaying {
    svg {
      color: $primary;
    }
  }
}

.trackInfo {
  @include flex(column, left, space-between);
  height: 30px;
  .titleAndTime {
    @include flex(row, left, space-between);
  }
}
.track {
  @include flex(row, center, left);

  p {
    font-size: 1.25rem;
    margin-top: 0.125rem;
    @include phoneLarge {
      font-size: 1rem;
    }
  }
  span {
    font-size: 1rem;
    @include phoneLarge {
      font-size: 0.6rem;
    }
  }
  .songName {
    cursor: pointer;
    transition: color 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    &:hover {
      color: $spotify-green;
    }
  }
  .noPreview {
    cursor: pointer;
    transition: color 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    &:hover {
      color: $primary;
    }
  }
}

.copyright {
  font-size: 0.8rem;
  margin-top: 1rem;
  @include phoneLarge {
    font-size: 0.5rem;
  }
}

.trackList {
  margin-bottom: 1rem;
  font-size: 2rem;
}

.ms {
  margin-left: 0.25rem;
}

.meta {
  color: $grey;
  @include flex(row, center, left);
  p {
    font-size: 0.75rem;
    margin-right: 0.5rem;
    cursor: pointer;
    transition: color 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    @include phoneLarge {
      font-size: 0.6rem;
    }
    &:hover {
      color: $primary;
    }
  }
}

.featureContainer {
  @include flex(column, left, space-between);
  width: 100px;
  height: 30px;
  margin-right: 0.25rem;

  .bar {
    height: 15%;
    border-radius: 12px;
  }

  .danceBar {
    background: $dance;
  }
  .energyBar {
    background: $energy;
  }
  .acousticBar {
    background: $acoustic;
  }
  @include phoneLarge {
    width: 60px;
  }
}
.container {
  @include flex(row, center, center);
  margin-bottom: 1rem;
  @include iPadPortrait {
    @include flex(row, center, center);
  }

  .featureIdx {
    @include flex(column, center, center);
    margin-right: 0.5rem;
    .pin {
      height: 1.5rem;
      width: 1.5rem;
      margin-bottom: 0.5rem;
      border-radius: 50%;
      @include phoneLarge {
        height: 0.75rem;
        width: 0.75rem;
      }
    }
    .dancePin {
      background: $dance;
    }
    .energyPin {
      background: $energy;
    }
    .acousticPin {
      background: $acoustic;
    }
    span {
      text-transform: uppercase;
      font-size: 0.5rem;
      letter-spacing: 2px;
    }
  }
}

@keyframes playing {
  0% {
    // box-shadow: 0px 0px 2px $light, inset 0px 0px 2px $light;
    transform: rotate(0deg);
  }
  50% {
    // box-shadow: 0px 0px 8px $light, inset 0px 0px 6px $light;
    transform: rotate(180deg);
  }
  100% {
    // box-shadow: 0px 0px 2px $light, inset 0px 0px 2px $light;
    transform: rotate(360deg);
  }
}
