$spotify-green: #1ed760;
$spotify-alt: #13833a;
$primary: #d6241e;
$primary-alt: #a71a16;
$secondary: #097ad6;
$secondary-alt: #0c528a;
$warning: #e38c09;
$warning-alt: #965d06;
$dark: #111;
$light: #fff;
$grey: #9c9c9c;

@mixin flex($direction, $align, $justify) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

@mixin headerFont($size) {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: $size;
  letter-spacing: -2px;
}
