$spotify-green: #1ed760;
$spotify-alt: #13833a;
$primary: #d6241e;
$primary-alt: #8a0500;
$dark: #111;
$light: #fff;

@mixin flex($direction, $align, $justify) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

@mixin headerFont($size) {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: $size;
  letter-spacing: -2px;
}
