@import './mixin';

.container {
  @include flex(column, center, center);
}

.innerContainer {
  @include flex(column, left, left);
  width: 1024px;
  margin-top: 2rem;
}

.gridContainer {
  @include flex(column, center, center);
  width: 1024px;
  margin-top: 2rem;
}

.heading {
  @include headerFont(4rem);
  text-transform: uppercase;
  font-weight: 900;
}

.subTitle {
  margin-top: 0.5rem;
  font-size: 1.125rem;
  letter-spacing: 0.5px;
}
