@import '../../styles/mixin';

.container {
  width: 380px;
  height: calc(100vh - 8rem);
  @include iPadPortrait {
    width: 720px;
  }
  @include phoneMedium {
    width: 330px;
  }
}

.heading {
  @include flex(row, center, space-between);
  margin-top: 2rem;
}

.menu {
  @include headerFont(5rem);
  font-weight: 900;
}

.items {
  ul {
    margin-top: 2rem;
    li {
      font-size: 2rem;
      margin-bottom: 1rem;
      cursor: pointer;
      @include flex(row, center, left);
      .logo {
        font-size: 1.5rem;
        margin-left: 0.5rem;
        color: $spotify-green;
        @include flex(column, center, center);
      }
      img {
        width: 200px;
      }
    }
    .userName {
      font-size: 2rem;
      margin-top: 2rem;
      span {
        font-size: 2rem;
        margin-right: 0.5rem;
      }
    }
  }
}
